<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Mascotas</title>
    <link rel="stylesheet" href="/portafolio/src/css/styles.css">
</head>
<body>
    <header>
    <h1>Mis Mascotas</h1>
    <a href="/portafolio/index.html" >⬅ Volver a mi perfil</a>
    </header>

    <main class="galeria-contenedor">
    
        <article class="contenedor-1">
            <h2>tuxedo </h2>
            <img src="/portafolio/public/img/imagen123.jpg.jpg" alt="tuxedo" title="happy">
            <p>Es un gato muy elegante que parece vestir un esmoquin.</p>
            <p>Es sumamente inteligente, le encanta observar por la ventana
            y siempre busca un lugar cálido para descansar mientras estudio programación.
            </p>
        </article>
</p>
    </article>

        <article class="contenedor-2">
            <h2>criollo </h2>
            <img src="/portafolio/public/img/imagen12.webp" alt="criollo" title="cariñito">
            <p>Es el protector de la casa. </p>
            <p>Aunque al principio es desconfiado con quienes no conoce,
            es el compañero más leal y cariñoso una vez que entra en confianza.
            </p>
            <p>¡Le encantan los mimos!
            </p>

        
        </article>

        <article class="contenedor-3">
            <h2>criollo </h2>
            <img src="/portafolio/public/img/imagen1.jpg" alt="criollo" title="toby">
            <p>Toby es pura alegría.</p>
            <p>Es un perro lleno de energía que siempre tiene una pelota lista para jugar.
            </p>
            <p>Su felicidad es contagiosa y es el mejor recibimiento al llegar a casa.</p>

        </article>

        <article class="contenedor-4">
            <h2>perico cara sucia</h2>
            <img src="/portafolio/public/img/imagen1234.jpg" alt="">
            <p>Conocido por su distintivo plumaje marrón en las mejillas, este perico es una  <br>de las especies más sociables y ruidosas de las zonas tropicales.</p>

        </article>

        <article class="contenedor-5">
            <h2>pericos australianos</h2>
            <img src="/portafolio/public/img/imagen12345.webp" alt="">
            <p></p>Pequeños, coloridos y llenos de energía. Son las aves domésticas más populares <br>del mundo debido a su fácil cuidado y gran inteligencia.</p>
        </article>

        <article class="contenedor-6">
            <h2>Affenpinscher</h2>
            <img src="/portafolio/public/img/imagen1234567.avif" alt="">
            <p>Una raza de perro pequeña y robusta, famosa por su cara con expresión "simiesca" y su <br>pelaje negro desgreñado. Son valientes y muy leales.</p>
        </article>
    </main>
</body>
</html>
